.card_gallery {
  background-color: #FEFEFE;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card_gallery .card {
  height: 333px;
  width: 500px;
  transition: background 0.8s;
  overflow: hidden;
  box-shadow: 0 0 1px black;
  display: flex;
  justify-content: center;
  margin: 0 10px 20px 10px;
  align-items: center;
  position: relative;
  background-size: 100%;
}

.card__wrapper {
  max-width: 1560px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card0 {
  background: url("../img/section_kitchen.jpg") center center no-repeat;
}
.card1 {
  background: url("../img/section_kitchen.jpg") center center no-repeat;
}
.card2 {
  background: url("../img/section_kitchen.jpg") center center no-repeat;
}
.card3 {
  background: url("../img/section_kitchen.jpg") center center no-repeat;
}
.card4 {
  background: url("../img/section_kitchen.jpg") center center no-repeat;
}
.card5 {
  background: url("../img/section_kitchen.jpg") center center no-repeat;
}
.card6 {
  background: url("../img/section_kitchen.jpg") center center no-repeat;
}
.card7 {
  background: url("../img/section_kitchen.jpg") center center no-repeat;
}
.card8 {
  background: url("../img/section_kitchen.jpg") center center no-repeat;
}

.card:hover {
  background-size: 110%;
}

@media (max-width: 1600px) {
  .card_gallery .card {
      width: 30vw;
      height: 20vw;
  }
}

@media (max-width: 700px) {
  .card_gallery .card {
      width: 90vw;
      height: 60vw;
  }
}

.card_gallery .card h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;;
  color: #FEFEFE;
  font-size: 38px;
  text-shadow: 0 0 4px #141515;
  text-align: center;
  margin: 15px;
  opacity: 1;
  transition: opacity 1s;
  z-index: 2;
}

.card_gallery .card:hover h2 {
  color: #44AF3A;
}

/* #d5fe67 */

.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: 1s;
}

.shadow:hover {
  background-color: #141515;
  opacity: .4;
}


.news {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #FEFEFE;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.news a {
  text-decoration: none;
  color: #141515;
  display: block;
}

.news a p {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 16px 0 0 0;
}

.news a img {
  width: 18vw;
  height: 18vw;
}

@media (max-width: 900px) {

  .news a img {
    width: 280px;
    height: 280px;
  }
}

.chapter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEFEFE;
}

.chapter h1 {
  max-width: 1560px;
  width: 100%;
  margin: 0;
  padding: 60px 0 60px 20px;
}
